---
layout: default
title: Modern Mustangs
---
<% content_for :title do %>
  <title>{{ page.title }}</title>
<% end %>

<div id="blogroll">
  {% for post in site.posts %}
    <h1><a href="/blog{{ post.url }}">{{ post.title }}</a></h1> <span class="post-date">{{ post.date | date_to_string }}</span>
    {% if post.content contains '<!-- more -->' %}
      {{ post.content | split:'<!-- more -->' | first }}
    {% else %}
        <!-- Case for when no excerpt is defined -->
    {% endif %}
  {% endfor %}
</div>
