<div class="site">
  <div class="title">
    <a href="/blog">Zach Bruhnke</a>
    <a class="extra" href="/blog">Bloggy</a>
  </div>
  
  <div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    
      <li><span>25 Apr 2012</span> &raquo; <a href="/blog/a-test-post">A Test Post</a></li>
    
  </ul>
</div>

  
  <div class="footer">
    <div class="contact">
      <p>
        Zach Bruhnke<br />
        Works at <a href="http://engineyard.com">EngineYard</a><br />
        zbruhnke@engineyard.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/zbruhnke/">github.com/zbruhnke</a><br />
        <a href="http://twitter.com/zbruhnke/">twitter.com/zbruhnke</a><br />
        <a href="http://facebook.com/zbruhnke">facebook.com/zbruhnke</a>
      </p>
    </div>
  </div>
</div>

<a href="https://github.com/zbruhnke/bloggy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
