<% content_for :title do %>
  <title>Modern Mustangs</title>
<% end %>

<div id="blogroll">
  
    <h1><a href="/blog/a-test-post">Test post</a></h1> <span class="post-date">25 Apr 2012</span>
    
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, neque, tempora dolor reiciendis impedit soluta perspiciatis placeat adipisci magni sed sequi hic eius repudiandae maiores labore ducimus consequatur et blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, neque, tempora dolor reiciendis impedit soluta perspiciatis placeat adipisci magni sed sequi hic eius repudiandae maiores labore ducimus consequatur et blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, neque, tempora dolor reiciendis impedit soluta perspiciatis placeat adipisci magni sed sequi hic eius repudiandae maiores labore ducimus consequatur et blanditiis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, neque, tempora dolor reiciendis impedit soluta perspiciatis placeat adipisci magni sed sequi hic eius repudiandae maiores labore ducimus consequatur et blanditiis? Lorem ipsum dolor sit amet, consectetur</p>


    
  
</div>
