.blog-body{
  background-color: #F7F7F7;
}
.sidebar{
  height: 100%;
  background-color: rgb(48, 48, 48);
  width: 30%;
  max-width: 500px;
  position: absolute;
  left: 0;
  top: 0;
  .stripe{
    position: absolute;
    height: 100%;
    border-width: 14px;
    border-style: solid;
  }
  .stripe-container{
    position: absolute;
    left: 30%;
    height: 100%;
    width: 50%;
  }
  .red{
    border-color: red;
    left: 0;
  }
  .white{
    border-color: white;
    left: 17%;
  }
  .blue{
    border-color: blue;
    left: 33%;
  }
  .logo{
    display: block;
    position: absolute;
    z-index: 2;
    left: -20%;
    top: 50%;
  }
}
.content{
  position: absolute;
  left: 30%;
  height: 100%;
  .content-inner{
    padding: 30px 50px;
    width: 100%;
  }
}