@import "thumper";
@include thumper-developement-grids;
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

*, *:before, *:after{
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

//Blog styling
@import 'blog';

//Syntax Highlighting
@import 'syntax';